name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    name: Validate HACS
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: HACS validation
        uses: "hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c" # main
        with:
          category: "integration"
          ignore: "brands"

  validate-hassfest:
    runs-on: "ubuntu-latest"
    name: Validate with hassfest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@26d56ed1a1cbfeabf59feb7b26e368e13f47ef52" # master

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - name: Install uv
        uses: astral-sh/setup-uv@7edac99f961f18b581bbd960d59d049f04c0002f # v6.4.1
        with:
          python-version: 3.14

      - name: Install dependencies
        run: just bootstrap

      - name: Run tests
        run: just test
