name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: "ubuntu-latest"
    name: Validate HACS
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: HACS validation
        uses: "hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c" # main
        with:
          category: "integration"
          ignore: "brands"

  validate-hassfest:
    runs-on: "ubuntu-latest"
    name: Validate with hassfest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@26d56ed1a1cbfeabf59feb7b26e368e13f47ef52" # master

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-homeassistant-custom-component

      - name: Run tests
        run: |
          pytest tests/ -v
